body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 2rem;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  max-height: 100%;
}

.word-list {
  height: 100%;
  overflow: auto;
}

.word-list>p {
  margin: 0;
  padding: 0;
}

.position-filter {
  display: flex;
  width: 100%;
}

.position-filter input {
  width: 2rem;
  text-align: center;
}

.px-3 { padding: 0 3rem; }